 .App {
  text-align: center;
  color: 	#8B008B;
} 

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-left: 190px;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  text-decoration:none;
}
.email{
  color: #8B008B;
}
